.header-container {
  display: flex;
  margin-bottom: 1rem;

  .title {
    font-size: 24px;
    margin-left: 20px;
  }
}

.svg-inline--fa.fa-w-14 {
  width: 32px;
  height: 32px;
}

.button-container {
  @media(min-width: 576px){
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
  }

  .button-cancel {
    display: none;

    @media(min-width: 576px){
      display: block;
    }
  }

  .button-submit {
    width: 100%;

    @media (min-width: 576px){
      width: 200px;
      margin-left: 20px;
    }
  }
}